.node-card {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.node-card::before {
    content: '';
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border-top: 3px dashed var(--color-black-first);
    transform: rotate(90deg) translateX(-62%);
    bottom: 140px;
}

.node-card .title {
    font-family: var(--title-font);
    font-size: 25px;
    font-weight: 400;
    color: var(--color-first);
    margin-bottom: 50px;
}

.node-card .logo {
    display: flex;
    align-items: center;
    height: 150px;
    border: 5px solid var(--color-black-first);
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-warning);
}

.node-card.-clean .logo {
    padding: 0;
}

.node-card.-first .logo {
background-color: var(--color-first);
}